@import (reference) "../styles.less";

button {
    margin-left: 2px;
}

input {
    margin-left: 2px;
}

.wrapper {
    white-space: pre-wrap;
    color: var(--bodyText);
    background-color: var(--bodyBackground);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    min-height: 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.panelContainer {
    display: flex;
    flex-direction: row;
    min-height: 0;
    flex: 0 0 48%;
    overflow: auto;
    background-color: var(--panelBackground);
    margin: 4px;
    border: 3px solid var(--panelBorder);
    border-radius: 4px;
    
}

.leftPanel {
    width: 25%;
    flex-direction: column;
}

.rightPanel {
    width: 75%;
    flex-direction: column;
}

.bottomPanel {
    display: flex;
    flex: 1 1 auto;
    margin-top: 0 !important;
    min-height: 0;
}

.GREEN {
    color: green;
}