<div class="wrapper">
    <div class="panelContainer">
        <div class="leftPanel">
            <button *ngIf="!mainLoopService.started" (click)="startClick()">Start</button>
            <button *ngIf="!mainLoopService.started" (click)="resetClick()">Reset</button>
            <button *ngIf="mainLoopService.started" (click)="startClick()">Pause</button>
            <span [matTooltipShowDelay]="500"
                matTooltip="Added sort and filter, saves may be incompatible and will definitely lose inventory. I only did this for fun and for my own use, sharing it was an afterthought so don't expect clean updates.">v.0.0.2 Hover for more</span>
            <div *ngIf="!mainLoopService.started">paused</div>
            <div>{{(mainLoopService.currentTime - mainLoopService.refreshTime) / 1000}}</div>
            Mode: <button (click)="modeClick()">{{combinationService.superMode ? "Super" : "Perfect"}}</button>
            <div>Cauldron ingredient target: <input type="number" min="0" max="20"
                    value="{{combinationService.ingredCount}}" (change)="ingredCountChange($event)"></div>
            <div>Cauldron magamin {{combinationService.superMode ? "target: " : "max: "}}<input type="number" min="0"
                    max="2000" value="{{combinationService.target}}" (change)="targetChange($event)"></div>
            <p> Formula: <select (change)="percUpdate($event)">
                    <option *ngFor="let formula of ingredientsService.formulas" value="{{formula.type}}"
                        [selected]="formula.type === ingredientsService.selectedFormula">{{formula.name}}</option>
                </select>
            <p>
            <div>Total tries: {{combinationService.totalCount}}</div>
            <div>Recipes found: {{combinationService.hitCount}}</div>
            <table *ngFor="let j of combinationService.indexer; let i = index">
                Ingredient {{i + 1}} remaining checks: {{j.index + 1}}
            </table>
        </div>
        <div class="rightPanel" *ngIf="!mainLoopService.started">
            Change all: <input type="number" min="0" max="20" (change)="allAvailChange($event)">
            <button (click)="combinationService.saveData()">Save Settings</button>
            <button (click)="combinationService.loadData()">Load Settings</button>
            <button (click)="combinationService.clearData()">Clear Settings</button>
            <button (click)="combinationService.sortChange()">Sorted 
                <ng-container *ngIf="combinationService.sortMode == 0">Alphabetically</ng-container>
                <ng-container *ngIf="combinationService.sortMode == 1">By Total</ng-container>
            </button>
            <button (click)="combinationService.filterRecipe()">
                <ng-container *ngIf="combinationService.filter == false">Unfiltered</ng-container>
                <ng-container *ngIf="combinationService.filter == true">Recipe Filtered</ng-container>
            </button>
            <table *ngIf="!mainLoopService.started">
                <tr>
                    <td>Name</td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                    <td>Total</td>
                </tr>
                <ng-container *ngFor="let ingredient of ingredientsService.ingredients; let i = index">
                    <tr [ngClass]="ingredCheck(ingredient.index)" >
                        <td>{{ingredient.name}}</td>
                        <td>{{ingredient.A}}</td>
                        <td>{{ingredient.B}}</td>
                        <td>{{ingredient.C}}</td>
                        <td>{{ingredient.D}}</td>
                        <td>{{ingredient.E}}</td>
                        <td>{{ingredient.Total}}</td>
                        <td>inventory:<input type="number" min="0" max="20"
                                value="{{ingredient.Avail}}" (change)="ingredAvailChange($event, i)">
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
    <div class="panelContainer">
        <div class="bottomPanel">
            <table>
                <tr *ngIf="combinationService.recipeList.length > 1" text-align="center">
                    <td>Name</td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                    <td>Total</td>
                </tr>
                <ng-container *ngFor="let ingredient of combinationService.recipeList; let i = index">
                    <tr *ngIf="i + 1 < combinationService.recipeList.length">
                        <td>{{i + 1}}: {{ingredient.name}}</td>
                        <td>{{ingredient.A}}</td>
                        <td>{{ingredient.B}}</td>
                        <td>{{ingredient.C}}</td>
                        <td>{{ingredient.D}}</td>
                        <td>{{ingredient.E}}</td>
                        <td>{{ingredient.Total}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</div>