<router-outlet></router-outlet>
<button (click)="importCSVClick()">Import Ingredient CSV</button>
<button (click)="exportCSVClick()">Export Recipe CSV</button>
<button *ngIf="!mainLoopService.started" (click)="startClick()">Start</button>
<button *ngIf="mainLoopService.started" (click)="startClick()">Pause</button>
<div *ngIf="!mainLoopService.started">paused</div>
<div>{{mainLoopService.currentTime - mainLoopService.refreshTime}}</div>
<p>
<div>{{this.combinationService.totalCount}}</div>
<div>{{this.combinationService.hitCount}}</div>
<table *ngFor="let i of this.combinationService.indexer">
    <tr>{{i.index}}</tr>
</table>
<p>


<table>
    <ng-container *ngFor="let ingredient of this.combinationService.recipeList; let i = index">
        <tr>
            <td>{{i}}: {{ingredient.name}}</td>
            <td>{{ingredient.A}}</td>
            <td>{{ingredient.B}}</td>
            <td>{{ingredient.C}}</td>
            <td>{{ingredient.D}}</td>
            <td>{{ingredient.E}}</td>
            <td>{{ingredient.Total}}</td>

        </tr>
    </ng-container>
</table>
<p>
<table>
    <ng-container *ngFor="let ingredient of this.combinationService.ingredientList; let i = index">
        <tr>
            <td>{{ingredient.index}}: {{ingredient.name}}</td>
            <td>{{ingredient.A}}</td>
            <td>{{ingredient.B}}</td>
            <td>{{ingredient.C}}</td>
            <td>{{ingredient.D}}</td>
            <td>{{ingredient.E}}</td>
        </tr>
    </ng-container>
</table>